<p><%= @position.name %></p>
<p><%= @position.description %></p>

<%= form_for(@job_application, url: apply_path) do |f| %>
  <div>
    <%= f.label "Full Name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label "Email" %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label "Phone" %>
    <%= f.telephone_field :phone %>
  </div>

  <!-- TODO attachment fields -->

  <%= f.submit "Apply" %>
<% end %>
